*{
  margin: 0;
  padding: 0;
}

.container-frame{
  width: 500px;
  background-color: bisque;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.container-display{
  width: 100%;
  flex-grow: 1;
  margin-bottom: 10px;
  text-align: end;
}
.container-buttons{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

